html {
    scroll-behavior: smooth;
}

/* .font-quicksand {
    font-family: 'Quicksand', sans-serif;
} */

.font-poppins {
    font-family: 'Poppins', sans-serif;
}


.dropdown:hover .dropdown-menu {
    display: block;
}